html,
body * {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#container {
  z-index: 111;
}

.navT {
  -webkit-transition: all 0.25s;
  z-index: 111;
  cursor: pointer;
  width: 100%;
  background: #212121;
  height: 65px;
  left: 0;
  top: 0;
  position: fixed;
}
.navT .icon {
  -webkit-transition: all 0.25s;
  position: absolute;
  width: 30px;
  height: 1px;
  left: 15px;
  top: 30px;
  background-color: white;
}
.navT .icon:before,
.navT .icon:after {
  -webkit-transition: all 0.25s;
  width: 30px;
  height: 1px;
  left: 0;
  background: white;
  position: absolute;
  content: "";
}
.navT .icon:before {
  top: -10px;
}
.navT .icon:after {
  top: 10px;
}
.navT:hover {
  background: black;
}
.navT:hover .icon:before {
  top: -12px;
}
.navT:hover .icon:after {
  top: 12px;
}
.navT.active .icon {
  -webkit-transform: rotate(180deg);
  background-color: transparent;
  left: 10px;
}
.navT.active .icon:before,
.navT.active .icon:after {
  top: 0;
}
.navT.active .icon:before {
  -webkit-transform: rotate(45deg);
}
.navT.active .icon:after {
  -webkit-transform: rotate(-45deg);
}

#menu {
  z-index: 111;
  -webkit-transition: all 0.5s;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 65px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  width: 100%;
  height: 0;
  border-bottom: 1px solid transparent;
  overflow: hidden;
}
#menu ul {
  list-style: none;
  padding: 0;
  letter-spacing: 0.4em;
}
#menu li:first-child {
  margin-top: 0;
}

#menu ul li a {
  color: white;
}
#menu li {
  -webkit-transition: all 0.2s;
  margin-top: 20px;
  padding: 5px 0;
  color: white;
}
#menu a {
  padding: 8px;
  -webkit-transition: all 0.25s;
  cursor: pointer;
}
#menu a:hover {
  letter-spacing: 0.5em;
  text-decoration: none;
}
#menu.open {
  height: 270px;
  width: 100%;
  background: #0f0e0e;
  border-bottom: 1px solid black;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container600 {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  margin: 0 -15px;
}
.col-4-grid {
  width: 33.3333%;
  padding: 15px;
  float: left;
}
@media (max-width: 1024px) {
  .col-4-grid {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .col-4-grid {
    width: 100%;
  }
}
.item {
  width: 100%;
  float: left;
  height: 400px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.item .front-end:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: -webkit-linear-gradient(
    -45deg,
    rgba(23, 27, 23, 0.4) 0%,
    rgba(3, 0, 0, 0.4) 40%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background: linear-gradient(
    -45deg,
    rgba(23, 27, 23, 0.4) 0%,
    rgba(3, 0, 0, 0.4) 40%,
    rgba(255, 255, 255, 0.4) 100%
  );
  transition: 500ms;
  opacity: 0.2;
}
.item:hover .front-end:before {
  opacity: 1;
}
.item:hover .front-end .item-title {
  text-shadow: 0px 0 5px rgba(0, 0, 0, 0.5), 0px 0 5px rgba(255, 255, 255, 0.5);
  color: #fff;
}
.item .front-end {
  width: 100%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.item .front-end img {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
}
.item .front-end .item-title {
  position: absolute;
  bottom: 0;
  padding-left: 30px;
  padding-bottom: 30px;
  width: 100%;
  color: transparent;
  font-weight: 700;
  font-size: 14px;
  text-shadow: -5px 0 5px rgb(241, 241, 241), 5px 0 5px rgb(255, 255, 255);
  transition: 500ms;
}
.item .back-end {
  display: none;
  bottom: 30px;
}
.show-item {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  top: 0;
  left: 0;
  overflow: auto;
  padding: 120px 0 50px 0;
  display: none;
}
.show-item .item-image {
  width: 100%;
}
.show-item .item-image img {
  max-width: 100%;
}
.show-item-close {
  width: 40px;
  height: 40px;
  background: #000000;
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 700ms;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
.show-item-close.show-close {
  top: 40px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.show-item-close:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.show-item-close:before {
  content: "";
  width: 20px;
  height: 1px;
  background: #fff;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  z-index: 2;
}
.show-item-close:after {
  content: "";
  width: 20px;
  height: 1px;
  background: #fff;
  position: absolute;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  z-index: 2;
}
.show-item .item-title {
  font-size: 27px;
  font-weight: 700;
  color: #ffffff;
  margin: 25px 0;
}
.show-item .single {
  opacity: 0;
  position: relative;
  top: -200px;
  transition: 500ms;
}
.show-item .single.show-single {
  opacity: 1;
  top: 0px;
}
html.overflow,
body.overflow {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.show-item-back-top {
  position: relative;
  left: 50%;
  margin-left: -20.5px;
  width: 61px;
  height: 40px;
  margin-top: 70px;
  cursor: pointer;
  float: left;
}
.show-item-back-top:before {
  content: "";
  width: 40px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  border-radius: 10px 10px 0 0;
}
.show-item-back-top:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  border-radius: 10px 10px 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  margin: 10px 0;
  font-weight: 700;
}
p {
  color: #ffffff;
  font-size: 17px;
  line-height: 26px;
  margin: 10px 0;
  font-weight: 300;
}
@import url(
  https://fonts.googleapis.com/css?family=Roboto:400,
  300,
  700&subset=latin,
  latin-ext
);
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #000000;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
}
.title {
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  font-weight: 700;
}
.title:before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 30px;
  margin-left: -15px;
  background: rgb(255, 255, 255);
  height: 6px;
}
